#itemDetailed{
   
    
    height: 500px;
    width: 100%;
    
    
}

.imagenCard{
    height: 300px
    ;
        width: 300px
    ;
}

.nombreCard{
    background-color: inherit;
    height: 20px;
}



#images{
    text-align: center;
}

.botonera{
    width: auto;
    color: blanchedalmond;
}

.botonera>a{
    color: blanchedalmond;
}
.botonera>a:hover{
    color: blanchedalmond;
}