.NavBar{
    display: flex;
    justify-content: center;
    color: rgb(199, 199, 199);
    background-color: black;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    padding-right: 8vh;
    padding-bottom: 2vh;
}
a{
    color: rgb(199, 199, 199);
    
}