.contenedorContador p{
    width: 30px;
    text-align: center;
    display: inline;
}

.btn{
    width: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.btn_activo{
    padding: 10px 20px;
    color: #ffffff;
    background-color: #6d9bf1;
    border-radius: 5px;
}